<br/>
<div class="jumbotron">
 <p class="text-primary" style="font-size:400%">CDC Labs</p> 
  
  <div id="slider">
    <ul class="slides">
      <li class="slide slide1"><img src="http://cache.desktopnexus.com/thumbseg/562/562182-bigthumbnail.jpg">
      </li>
      <li class="slide slide2"><img src='http://www.connormarc.com/images/slider-01-web-design-and-development.jpg'></li>
      <li class="slide slide3"><img src='http://i1.tribune.com.pk/wp-content/uploads/2011/11/287625-SocialMediaILLUSTRATIONJAMALKHURSHID-1320417142-665-640x480.jpg'></li>
      <li class="slide slide4"><img src='http://www.softqubes.com/wp-content/uploads/2013/11/iphone-ipad-apps-development.png'></li>
      <li class="slide slide5"><img src='http://www.bacancytechnology.com/wp-content/uploads/2014/11/android-application-development.png'></li>
      <li class="slide slide6"><img src='http://ctenus.com/wp-content/uploads/2013/08/ui-development.png'></li>
      <li class="slide slide7"><img src='http://www.smallbusinesswebdesigners.com.au/wp-content/uploads/2014/06/Technology-Innovations.jpg'></li>
      <li class="slide slide1"><img src="http://cache.desktopnexus.com/thumbseg/562/562182-bigthumbnail.jpg"></li>
    </ul>
  </div>
</br>
</br>
  <p class="lead text-primary"><em>CDC Labs provide Software Design, Development and Consulting Services in Mobile, Cloud, Web and other niche technologies.</em></p>
</div>
</br>
<div class="jumbotron">
<div class="row">
  <div class="col-md-4">
    <h3>iPhone Development</h3>
      <p>As a confident participant in the iOS Development race in the industry, CDC Labs hasa breath taking app portfolio to reckon with. Our iPhone Software Development services are synonymous with meticulously written code and "love at first sight" User Interface for everyone.</p>
  </div>

  <div class="col-md-4">
    <h3>iPad Development</h3>
      <p>CDC Labs can give powerful wings to your app enabling it to gracefully land on the “larger than life” iPad screen. Our iPad Software Development services ensure that your idea is neatly chiseled into a stunningly beautiful and engaging app, ready to rule the App Store.</p>
  </div>

  <div class="col-md-4">
    <h3>Web Development</h3>
      <p>Our expertise in modern Web technologies can make your e-presence lively and interactive.CDC Labs' Web development team has the required proficiency to build custom, state of the art websites and Web Apps as per your specifications.</p>
  </div>

  <div class="col-md-4">
    <h3>Android Development</h3>
      <p>CDC Labs’ dedicated Android Software Development veterans are adept at the latest technologies required to leverage the “open-source” nature of Android to the hilt, by providing the best solutions in Android Application and Game Development.</p>
  </div>

  <div class="col-md-4">
    <h3>Innovation</h3>
      <p>Honoring God’s initial dream of man being creative & innovative, CDC Labs practices innovation in its thoughts, words and actions. The end-result being something you can’t resist labeling as the “eighth wonder” of the world.</p>
  </div>
  <div class="col-md-4">
    <h3>User Interface Design</h3>
      <p>Fully cognizant of the importance of User Interface Designs forming a hard-hitting first impression, through its aesthetic and visual appeal, the UI Designs at CDC Labs are fatally attractive.  We take the "feel good" and "look good" factor to the next level, thereby, making app use a delightfull experience.</p>
  </div>
</div>
</div>
<h6>copyright © 2010 CDCLabs. All Rights Reserved. An ISO 9001:2008 company.<h6>  

