<br/>
<div class="jumbotron">
  <p class="text-primary" style="font-size:400%"><strong>CDC Labs</strong></p>
  <p class="lead text-primary"><em>CDC Labs provide Software Design, Development and Consulting Services in Mobile, Cloud, Web and other niche technologies. </em></p>
</div>

<div class="row">
   
  <div class="col-md-4">
  <h2>iPhone Development</h2>
  <p> As a confident participant in the iOS Development race in the industry, CDC Labs hasa breath taking app portfolio to reckon with. Our iPhone Software Development services are synonymous with meticulously written code and "love at first sight" User Interface for everyone.</p>
  </div>

  <div class="col-md-4">
  <h2>iPad Development</h2>
  <p>CDC Labs can give powerful wings to your app enabling it to gracefully land on the “larger than life” iPad screen. Our iPad Software Development services ensure that your idea is neatly chiseled into a stunningly beautiful and engaging app, ready to rule the App Store.</p>
  </div>

  <div class="col-md-4">
  <h2>Web Development</h2>
  <p>Our expertise in modern Web technologies can make your e-presence lively and interactive.CDC Labs' Web development team has the required proficiency to build custom, state of the art websites and Web Apps as per your specifications.</p>
  </div>

  <div class="col-md-4">
  <h2>Android Development</h2>
  <p> CDC Labs’ dedicated Android Software Development veterans are adept at the latest technologies required to leverage the “open-source” nature of Android to the hilt, by providing the best solutions in Android Application and Game Development.</p>
  </div>

  <div class="col-md-4">
    <h2>Innovation</h2>
    <p>Honoring God’s initial dream about man as being creative & innovative, CDC Labs practices innovation in its thoughts, words and actions. The end-result being something you can’t resist labeling as the “eight wonder” of the world.</p>
  </div>

  <div class="col-md-4">
    <h2>User Interface Design</h2>
    <p> Fully cognizant of the importance of User Interface Designs in forming a hard-hitting first impression, through its aesthetic and visual appeal, the UI Designs at CDC Labs are fatally attractive, taking the "feel good" and "look good" factor to the next level, thereby, making app usage a delightfull experience.</p>
  </div>



  <h6>copyright © 2010 CDCLabs. All Rights Reserved. An ISO 9001:2008 company.<h6>  

</div>