<br/>
<div class="jumbotron">
  <p class="text-primary" style="font-size:400%"><strong>CDC Labs</strong></p>
  <p class="lead text-primary"><em>CDC Labs </em></p>
</div>
   
  <div class="col-md-4">
  <h2>Post</h2>
  <p>Share your thoughts about subjects that are important to you.</p>
  </div>

  <div class="col-md-4">
  <h2>Comment</h2>
  <p>Your opinion counts! But you have to make yourself heard first!</p>
  </div>

  <div class="col-md-4">
  <h2>Stay Informed</h2>
  <p>See the most active topics, as well as, trending subjects!</p>
  </div>
</div>