<h1>iPad Software Development<%= link_to "(Contact Us for a Quote)", new_contact_path, class: 'btn btn-link' %></h1>
<div class="pull-right">
<img src="http://thenextweb.com/wp-content/blogs.dir/1/files/2013/10/hero.jpg">
 </div>     
<p>CDC Labs, with its iPad Software Development Services is an eager entrant in Apple’s newly started tablet PC revolution and has been actively trying to craft stunningly beautiful and function-rich apps and games to dwell the App Store.</p>

<h3>Applications</h3>
<p>The highly acclaimed engineering and designing team at CDC Labs believes in optimally leveraging Apple’s iOS and the core technologies that lie beneath it, to produce rock steady, mission critical iPad apps with fatally stunning user interfaces that would inch it closer to earning a tremendously strong user loyalty and brand equity in the market.</p>

<h3>Games</h3>
<p>CDC Labs is known for developing aesthetically stunning, and addictive games with a very high Entertainment Quotient that practically make the players go live. Whether it’s a fast-paced F1 championship or a mind-boggling puzzle you’re after, our engineers design an unforgettable gaming experience.</p>

<p>CDC Labs can help you successfully develop your next ipad app!! </p>
</br>
