<h2>iPhone Software Development<%= link_to "(Contact Us for a Quote)", new_contact_path, class: 'btn btn-link' %></h2>
<div class ="pull-right">
<img src="http://cnet2.cbsistatic.com/hub/i/r/2014/04/24/28b90a0e-f9cb-42b4-8ab9-898741b0f367/resize/1170x878/899cbd62056be75206e2789ef49a1c3b/espanol-iphone6-rumorv3.jpg">
</div>

<p>CDC Labs, since its very inception has aimed to spearhead the iPhone Software Development Revolution. Our techno-maniac and sapient human resources provide you with exceptional state-of-the-art services in iPhone Software Development, iPhone Application Development, iPhone Game Development and iPhone Web Development using a mind boggling assortment of the latest iPhone Software Development Kit (SDK), Cocoa Touch / Objective C, Xcode IDE, Interface Builder, OpenGL ES, Unity 3D Engine, Open AL, Instruments Testing, Memory Management, Audio Video Foundation Framework, Audio Queue Services Programming, Core Audio, Media Player Framework, Quartz, Core Animation, Core Graphics, Animation, CFNetwork Programming, BonjourWeb, XML Parsing, RPC XML Framework, Threading, WebKit Programming, Secure Coding, Accelerometer, GPS, Stream Programming and Core Location Framework.</p>

<p>The entire development process at CDC Labs, ranging from the germination of your idea for an application to its culmination into a final public release on the App Store, is purely client-centric. The end result being delightful iPhone apps that can help you meet your commitments to the stakeholders.</p>

<h3>Applications</h3>
<p>CDC Labs, in conjunction with clients fabricates powerful, function-rich iPhone apps with gorgeous interfaces.</p>

<p>As part of our iPhone application development services, we’ve developed and published diverse iPhone apps and games with dozens more in the pipeline.</p>

<h3>Games</h3>
<p>With rising popularity of world-class online games as an important entertainment tool, coupled with an insatiable craving for them across all user profiles, the iPhone game developers at CDC Labs are quick to tap the emerging trend, accurately diagnosing the market pulse and knowing what it takes to produce a fatally attractive combination of design, engineering, surprise, and just plain fun.</p>

<h3>Web</h3>
<p>Finally, CDC Labs makes sophisticated Web Portals dished out with the latest blogging engines, comprehensive FAQs, and user-friendly discussion forums. We are proud of our competence in professional iPhone Web development, as evident from our proficiency in technologies like HTML5, CSS3, jQuery and Sencha Touch.</p>

<p>CDC Labs can help you successfully develop your next iPhone app!! So please contact us for a quote.</p>
</br>






