<h1>Mobile Development<%= link_to "(Contact Us for a Quote)", new_contact_path, class: 'btn btn-link' %></h1>
<p>CDC Labs is your one stop-shop for all mobile development needs, having the desired capabilities and on-demand capacity for delivering just the right app to suit the business needs of all sorts of organizations, be it a start-up or an industry veteran.</p>

<h3>Platforms</h3>
<p>To capitalize on the popularity of other platforms in the market, and avoiding putting all the eggs in one basket, the expert mobile development team at CDC Labs, in addition to iPhone is passionate about developing mobile apps for Android, as well, which in itself is an increasingly popular smartphone platform.</p>

<h3>Applications</h3>
<p>With razor-edge proficiency in niche technology platforms such as Android SDK, as well as J2ME, Java Programming Language, Eclipse, HTML, CSS and Javascript, our mobile developers aim to quickly escalate CDC Labs to the stature of a globally renowned software development company.</p>

<h3>Team</h3>
<p>Our dedicated and talented team develops applications for both iPhone & Android, fully cognizant of the strengths and weaknesses of each, thereby, ensuring that the final product perfectly leverages the concerned technology’s strength and improves upon its weakness.</p>

<p>So, don’t miss out on your opportunity; get your mobile app developed today and reach out to 57,000,000 smart phone users!</p>
</br>
