<h1>Purpose and Stratagem<%= link_to "(Contact Us for a Quote)", new_contact_path, class: 'btn btn-link' %></h1>
<div class="jumbotron">
<h3>Purpose and Stratagem</h3>
<p><small>CDC Labs' professionals fully comprehend the challenge of enhancing business outcomes through improved Service Management. Our purpose and stratagem services embolden solutions to design your ServiceNow arena to scale with your growing business. Our wisdom and insight will establish that your organization can fully leverage your investment in ServiceNow.</small></p>

</br>
<li>Social Promptitude</li>
<li>Case Action Best Practice</li>
<li>Simulation</li>
<li>Tech Integration Road Map</li>
<li>Service Desk Analysis</li>