<h1>User Interface Design</h1>
<p>The graphical user interface is where first immortal impressions are made about your product which ultimately translate into word of mouth and online reviews. CDC Labs designs attractive user-friendly UIs from scratch - for everything from decent, micro sites to powerful mobile, web and game applications. Our dedicated interface designers & developers supervise the accurate placement of every code and pixel, ensuring an end user interface that is aesthetically appealing.</p>

<h3>Web</h3>
<p>CDC Labs’ work pertaining to crafting of fatally attractive UI designs is visible in the form of some of the most beautiful websites and Web applications on the Internet, that we have designed for our esteemed clients. All these websites have killer interfaces built upon the latest and strongest Web standards.</p>

<h3>iPhone</h3>
<p>CDC Labs hasfabricated some of the most visually & aesthetically appealing UI Designs for the iPhone & Android apps available on the App Store and Android Marketplace today. From critically acclaimed in- house apps like Number Magic to client apps like Nature Facts and 7 Weeks to Getting Ripped the award-winning designer team at CDC Labs is incredibly discriminating when it comes to putting the pixels together, perfectly!!</p>

<h3>Applications</h3>
<p>CDC Labs champions application design for Mobile and the Web. We’ve designed critically acclaimed, best-selling applications for Android like MBA In a Day that have been critically acclaimed by most of the IT Industry stalwarts.</p>

<h3>Game</h3>
<p>Designing Addictive Games takes place at the “bat of an eye-lid” at CDC Labs, of which we are absolute masters.</p>

<p>Try seeing your next UI Design from CDC Labs’ eyes!! Contact Us Now</p>

<%= link_to "Contact Us", new_contact_path, class: 'btn btn-success' %>

