<h1>Contact CDC Labs</h1>
<p>CDC Labs is a software design, development & consulting company based in Arizona, USA with offices in Noida, INDIA and Sheffield, UK. Our rock solid team spends each day crafting innovative applications for iPhone & iPad, Android, Windows Mobile, and the Web. If you're looking for an industry expert to take care of your next project, your search ends here. Contact us today.</p>
<div class = "new-contact">
      <%= render partial: 'form', locals: { contact: @contact } %>
    </div>