<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New Request</h1>
    <small>
      A new request was received from <%= @name %> and the email assoiciated is <%= @email %>, the request is as follows:
    </small>
    <p>
      <%= @body %>
    </p>
  </body>
</html>