<h1>Career Opportunities<%= link_to "(Apply for a Job)", new_contact_path, class: 'btn btn-link' %></h1>

<p>Contagiously innovative, blending technology, thought & process synergistically and continuously experimenting and applauding mistakes.  That’s CDC Labs!!</p>

<p>Every CDC LABian, regardless of his profile is a valued contributor to the company’s existence.</p> 

<p>Once onboard, you’ll create software that, according to industry veterans, is the best.</p>

<p>In a nutshell, you’ll work with one of the most vibrant and futuristic software companies in the industry.</p>

<p>Do you have what it takes to join?</p> 

<p>Apply for a job in these fields:
<ol>
  <li>Art Director</li>
  <li>iPhone and iPad Developer</li>
  <li>Sales Manager</li>
  <li>UI Designer</li>
  <li>HTML5 Developer</li>
  <li>JavaScript Developer</li>
  <li>Ruby on Rails Developer</li>
  <li>Database Engineer</li>
  <li>Web Tester</li>
  <li>Android Developer</li>
  <li>OpenGL Developer</li>
  <li>Game Artist (2D & 3D)</li>
</ol>
  Click on 'Apply for a Job', write short message and attach your resume. We’ll get back to you shortly. Thanks!</p>