<h2>Who Are We?<%= link_to "(Career Opportunities)", about_careers_path, class: 'btn btn-link' %></h2>
<div class="jumbotron">
<p><small>CDC Labs is a privately held Software Development company head quartered at Arizona, USA and founded in 2010 by visionaries and 21st century telecom enthusiasts, having a cumulative experience of 30+ years, occupying senior level positions in top MNCs. Our forte lies in leveraging innovation inherent to our Center of Excellence, built around niche technologies such as iphone/ipad, ipod, android, windows mobile, cloud computing and social media, thereby, “chipping the block”, making mistakes and learning from them. That is why it is an “innovation playground”, where you don’t have to think much before thinking too much!! At the same time we aspire to maximize the ROI for our stakeholders, and not just meet, but “EXCEED” their expectations through timely quality delivery of products and projects.</small></p>

<p><small>Our customers reap the benefits of CDC Labs domain expertise in Mobile Application Development, Cloud Computing, CRM Solutions, Consulting for COE, IT Consulting, Application Development & Maintenance, Multimedia & 3D Animation, Social Media & Search Engine Optimization. At the same time, our same quality-centric global presence ensures uniformly better, faster and cost-effective delivery of solutions to them.</small></p>

<p><small>Right thought .Right technology. Right process.The synergy of these vital factors has contributed to the success of CDC Labs in meeting the needs of its global customer base. The solutions provided by the company are designed, developed and integrated by a team of executives, project managers and computer science engineers, the collective experience of whom spans several decades in the IT industry.</small></p>
</div>
<h2>What Do We Do?</h2>
<div class="jumbotron">
<p><small>CDC Labs is at the razor edge of emerging niche technologies, fabricating client-specific world class applications for various platforms like iPhone/iPad, Android, Windows Mobile, Cloud Computing and Social Media at its offshore development center. Our developers and user interface wizards leverage the latest development practices and the most novel techniques arrived at after a relentlessly precise R&D process, in executing the projects they work on. CDC Labs is a forerunner in advanced software, web portal and visual design. We take pride in being one of the most innovative and “ahead of time” software development companies in the world.</small></p>
</div>
</br>

